@import 'http://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,greek-ext,cyrillic-ext,greek,vietnamese,cyrillic,latin-ext';
ul#MenuPrincipal,ul#MenuPrincipal ul{
    margin:0;list-style:none;padding:0;}
ul#MenuPrincipal,ul#MenuPrincipal .submenu{
    background-color:#FFFFFF;border-width:1px;border-style:solid;border-color:#b2b2b4;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;}
ul#MenuPrincipal .submenu{
    display:none;position:absolute;left:-1px;top:100%;float:left;z-index:2;background-color:#FFFFFF;background-image:-o-linear-gradient(-90deg,rgba(44,160,202,0),rgba(0,0,0,0.1)); background-image:-moz-linear-gradient(-90deg,rgba(44,160,202,0),rgba(0,0,0,0.1));   background-image:linear-gradient(180deg,rgba(44,160,202,0),rgba(0,0,0,0.1));  background-image:-webkit-linear-gradient(-90deg,rgba(44,160,202,0),rgba(0,0,0,0.1));border-width:1px;border-radius:0px 0px 4px 4px;-moz-border-radius:0px 0px 4px 4px;-webkit-border-radius:0px;-webkit-border-bottom-right-radius:4px;-webkit-border-bottom-left-radius:4px;border-style:solid;border-color:#FFFFFF #bfc1c2 #bfc1c2 #bfc1c2;-moz-box-shadow:0 5px 5px rgba(20, 20, 25, 0.2), 0 0 0 1px #FFFFFF inset;-webkit-box-shadow:0 5px 5px rgba(20, 20, 25, 0.2), 0 0 0 1px #FFFFFF inset;box-shadow:0 5px 5px rgba(20, 20, 25, 0.2), 0 0 0 1px #FFFFFF inset;padding:5px;}
ul#MenuPrincipal .submenu1{
    display:none;position:absolute;left:80px;top:100%;float:left;z-index:2;background-color:#FFFFFF;background-image:-o-linear-gradient(-90deg,rgba(44,160,202,0),rgba(0,0,0,0.1)); background-image:-moz-linear-gradient(-90deg,rgba(44,160,202,0),rgba(0,0,0,0.1));   background-image:linear-gradient(180deg,rgba(44,160,202,0),rgba(0,0,0,0.1));  background-image:-webkit-linear-gradient(-90deg,rgba(44,160,202,0),rgba(0,0,0,0.1));border-width:1px;border-radius:0px 0px 4px 4px;-moz-border-radius:0px 0px 4px 4px;-webkit-border-radius:0px;-webkit-border-bottom-right-radius:4px;-webkit-border-bottom-left-radius:4px;border-style:solid;border-color:#FFFFFF #bfc1c2 #bfc1c2 #bfc1c2;-moz-box-shadow:0 5px 5px rgba(20, 20, 25, 0.2), 0 0 0 1px #FFFFFF inset;-webkit-box-shadow:0 5px 5px rgba(20, 20, 25, 0.2), 0 0 0 1px #FFFFFF inset;box-shadow:0 5px 5px rgba(20, 20, 25, 0.2), 0 0 0 1px #FFFFFF inset;padding:5px;}
ul#MenuPrincipal li:hover>*{
    display:block;}
ul#MenuPrincipal li{
    position:relative;display:block;white-space:nowrap;font-size:0;float:left;}
ul#MenuPrincipal li:hover{
    z-index:1;}
ul#MenuPrincipal{
    font-size:0;width:100%;z-index:999;position:relative;display:inline-block;zoom:1;padding:0 0%;margin:0 0%;-moz-box-shadow:0 2px 0 #bfc1c2;-webkit-box-shadow:0 2px 0 #bfc1c2;box-shadow:0 2px 0 #bfc1c2;
    *display:inline;*padding-right:0.91%;}
ul#MenuPrincipal .column{
    float:left;}
* html ul#MenuPrincipal li a{
    display:inline-block;}
ul#MenuPrincipal>li{
    margin:0;width:16%;}
ul#MenuPrincipal li.finalNivel1{
    width:20%;}
body:first-of-type ul#MenuPrincipal{
    display:inline-table;border-spacing:0px 0;}
body:first-of-type ul#MenuPrincipal>li{
    display:table-cell;float:none;}
ul#MenuPrincipal a:active, ul#MenuPrincipal a:focus{
    outline-style:none;}
ul#MenuPrincipal a{
    display:block;vertical-align:middle;text-align:left;text-decoration:none;font:14px Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;color:#727272;cursor:pointer;padding:13px 8px;background-repeat: repeat;
    background-position: 0 0;
    border-width: 0px;
    border-style: none;
    background-image: -webkit-linear-gradient(-90deg,rgba(255,255,255,0),rgba(85,85,85,0.13));
}
ul#MenuPrincipal ul li{
    float:none;margin:0;}
ul#MenuPrincipal ul a{
    text-align:left;padding:5px;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;background-color:none;background-image:none;border-width:0;border-style:none;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;color:#727272;text-decoration:none;}
ul#MenuPrincipal li:hover>a,ul#MenuPrincipal li a.pressed{
    border-style:none;color:#727272;background-position: 0 100%;
    text-decoration: none;
    background-image: -webkit-linear-gradient(-90deg,rgba(85,85,85,0.13),rgba(255,255,255,0));
}
ul#MenuPrincipal img{
    border:none;vertical-align:middle;margin-right:1px;}
ul#MenuPrincipal ul li:hover>a,ul#MenuPrincipal ul li a.pressed{
    -moz-box-shadow:0 1px 0 #5682a5;-webkit-box-shadow:0 1px 0 #5682a5;box-shadow:0 1px 0 #5682a5;background-color:#5faceb;border-style: none;
    color: #FFFFFF;
    text-decoration: none;
    background-image: -webkit-linear-gradient(-90deg,rgba(255,255,255,0),rgba(85,85,85,0.13));
}
ul#MenuPrincipal li.inicioNivel1>a{
    -moz-box-shadow:0 0 0 1px #FFFFFF inset;-webkit-box-shadow:0 0 0 1px #FFFFFF inset;box-shadow:0 0 0 1px #FFFFFF inset;background-color:#FFFFFF;border-width:0 1px 0 0;border-style:solid;border-color:#bfc1c2;border-radius:5px 0 0 0;-moz-border-radius:5px 0 0 0;-webkit-border-radius:5px;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:0;-webkit-border-bottom-left-radius:0;text-shadow:0 1px 0 #FFFFFF;}
ul#MenuPrincipal li.inicioNivel1:hover>a,ul#MenuPrincipal li.inicioNivel1 a.pressed{
    -moz-box-shadow:0 4px 6px -2px rgba(0,20,50, 0.26) inset;-webkit-box-shadow:0 4px 6px -2px rgba(0,20,50, 0.26) inset;box-shadow:0 4px 6px -2px rgba(0,20,50, 0.26) inset;background-color:#FFFFFF;border-style:solid;border-color:#bfc1c2;text-shadow:0 1px 0 #FFFFFF;}
ul#MenuPrincipal li.menuNivel1>a{
    -moz-box-shadow:0 0 0 1px #FFFFFF inset;-webkit-box-shadow:0 0 0 1px #FFFFFF inset;box-shadow:0 0 0 1px #FFFFFF inset;background-color:#FFFFFF;border-width:0 1px 0 0;border-style:solid;border-color:#bfc1c2;text-shadow:0 1px 0 #FFFFFF;}
ul#MenuPrincipal li.menuNivel1:hover>a,ul#MenuPrincipal li.menuNivel1 a.pressed{
    -moz-box-shadow:0 4px 6px -2px rgba(0,20,50, 0.26) inset;-webkit-box-shadow:0 4px 6px -2px rgba(0,20,50, 0.26) inset;box-shadow:0 4px 6px -2px rgba(0,20,50, 0.26) inset;background-color:#FFFFFF;border-style:solid;border-color:#bfc1c2;text-shadow:0 1px 0 #FFFFFF;}
ul#MenuPrincipal li.finalNivel1>a{
    -moz-box-shadow:0 0 0 1px #FFFFFF inset;-webkit-box-shadow:0 0 0 1px #FFFFFF inset;box-shadow:0 0 0 1px #FFFFFF inset;background-color:#FFFFFF;border-width:0px;border-style:solid;border-color:#bfc1c2;border-radius:0 5px 0 0;-moz-border-radius:0 5px 0 0;-webkit-border-radius:0;-webkit-border-top-right-radius:5px;text-shadow:0 1px 0 #FFFFFF;}
ul#MenuPrincipal li.finalNivel1:hover>a,ul#MenuPrincipal li.finalNivel1 a.pressed{
    -moz-box-shadow:0 4px 6px -2px rgba(0,20,50, 0.26) inset;-webkit-box-shadow:0 4px 6px -2px rgba(0,20,50, 0.26) inset;box-shadow:0 4px 6px -2px rgba(0,20,50, 0.26) inset;background-color:#FFFFFF;border-style:solid;border-color:#bfc1c2;text-shadow:0 1px 0 #FFFFFF;}
ul#MenuPrincipal>li:nth-child(2){width:19%}
ul#MenuPrincipal>li:nth-child(3){width:19%}
ul#MenuPrincipal>li:nth-child(4){width:14%}
ul#MenuPrincipal>li:nth-child(5){width:17%}
ul#MenuPrincipal>li:nth-child(6){width:15%}
@-moz-document url-prefix(){
    body:first-of-type ul#MenuPrincipal{display:inline-block} 
    body:first-of-type ul#MenuPrincipal>li{display:block;float:left !important;}
}
@media only screen and (max-width:656px),only screen and (max-device-width:656px){
    ul#MenuPrincipal>li:nth-child(1){width:31%}
    ul#MenuPrincipal>li:nth-child(2){width:35%}
    ul#MenuPrincipal>li:nth-child(3){width:34%}
    ul#MenuPrincipal>li:nth-child(4){width:30%}
    ul#MenuPrincipal>li:nth-child(5){width:37%}
    ul#MenuPrincipal>li:nth-child(6){width:33%}
    body:first-of-type ul#MenuPrincipal{display:inline-block} 
    body:first-of-type ul#MenuPrincipal>li{display:block;float:left !important;}
}
@media only screen and (max-width:354px),only screen and (max-device-width:354px){
    ul#MenuPrincipal>li:nth-child(1){width:47%}
    ul#MenuPrincipal>li:nth-child(2){width:53%}
    ul#MenuPrincipal>li:nth-child(3){width:37%}
    ul#MenuPrincipal>li:nth-child(4){width:28%}
    ul#MenuPrincipal>li:nth-child(5){width:35%}
    ul#MenuPrincipal>li:nth-child(6){width:100%}
}
@media only screen and (max-width:327px),only screen and (max-device-width:327px){
    ul#MenuPrincipal>li:nth-child(1){width:47%}
    ul#MenuPrincipal>li:nth-child(2){width:53%}
    ul#MenuPrincipal>li:nth-child(3){width:57%}
    ul#MenuPrincipal>li:nth-child(4){width:43%}
    ul#MenuPrincipal>li:nth-child(5){width:54%}
    ul#MenuPrincipal>li:nth-child(6){width:46%}
}
@media only screen and (max-width:232px),only screen and (max-device-width:232px){
    ul#MenuPrincipal>li:nth-child(1){width:47%}
    ul#MenuPrincipal>li:nth-child(2){width:53%}
    ul#MenuPrincipal>li:nth-child(3){width:100%}
    ul#MenuPrincipal>li:nth-child(4){width:45%}
    ul#MenuPrincipal>li:nth-child(5){width:55%}
    ul#MenuPrincipal>li:nth-child(6){width:100%}
}
